html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background-color: hsl(0, 100%, 90%);
  margin: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  box-sizing: inherit;
}

img {
  max-width: 100%;
}

span {
  font-weight: bold;
}

button {
  background-color: red;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 1em;
  padding: 0.6em 1em;
}

button:hover,
button:focus {
  background-color: white;
  color: black;
}

button:active {
  transform: translateY(2px);
}

/* Header Section */

header {
  text-align: center;
  margin-bottom: 1em;
}

/* Main Section */

main {
  text-align: center;
}

/* Footer Section */
footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1em;
}

/* Scoreboard Section */

.scoreboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1.5em;
}

/* Board Section */

.board {
  background-color: hsl(200, 80%, 50%);
  border: 1px solid;
  border-radius: 1em;
  box-shadow: 8px 8px 16px hsla(0, 0%, 20%, 0.5);
  max-width: 550px;
  max-height: 550px;
  margin: 0 auto;
  padding: 1em;

  /* Grid Styles */
  display: grid;
  gap: 0.5em;
}

.card-container {
  background-color: transparent;
  width: 100%;
  height: 100%;
  /* max-width: 80px;
  max-height: 80px; */
}

.inner-card {
  background-color: white;
  box-shadow: 2px 2px 4px hsla(0, 0%, 20%, 0.75);
  position: relative;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.inner-card,
.card-front,
.card-back {
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-back {
  background-color: red;
}

.card-front {
  user-select: none;
  background-color: white;
  transform: rotateY(180deg);
}

/* Animations */

.flip {
  perspective: 1000px;
}

.flip .inner-card {
  transform: rotateY(180deg);
}

.grow {
  transform: scale(120%);
}

/* Modal Section */

.end-game-modal {
  background-color: lemonchiffon;
  border: 6px solid black;
  border-radius: 1em;
  box-shadow: 8px 8px 16px hsla(0, 0%, 20%, 0.5);
  width: 75vw;
  text-align: center;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
  visibility: hidden;
  z-index: 1000;
  padding: 1.5em;
}

.end-game-modal h1 {
  margin: 0;
}

.end-game-modal .ratingText {
  text-shadow: 1px 1px hsla(0, 0%, 15%, 0.5);
}

.end-game-modal img {
  width: 50%;
  margin: 0 auto;
}

.end-game-modal .resetButton {
  background-color: red;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 1em;
  display: block;
  width: 75%;
  margin: 2em auto 0;
  padding: 0.5em;
}

.end-game-modal .resetButton:hover {
  background-color: white;
  color: black;
}

.hideModalButton {
  background-color: transparent;
  border: none;
  color: hsl(0, 100%, 50%);
  position: absolute;
  top: 0;
  right: 0.55rem;
  font-size: 1.5rem;
  margin: 0;
}

.hideModalButton:hover {
  background-color: transparent;
  color: hsl(0, 100%, 70%);
}

.hideModalButton:active {
  color: hsl(0, 100%, 30%);
  transform: translateY(2px);
}

/* TABLET SIZES */
@media screen and (min-width: 768px) {
  /* Board Section */
  .board {
    gap: 0.5em;
  }

  /* Modal Secion */
  .end-game-modal {
    max-width: 50vw;
  }
}

/* LANDSCAPE ORIENTATION */

@media only screen and (min-device-width: 736px) and (max-device-width: 1000px) and (orientation: landscape) {
  body {
    flex-direction: row;
    justify-content: center;
  }

  header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  main {
    margin: 0 auto;
  }

  footer {
    position: absolute;
    bottom: 0;
    left: 25%;
  }

  .scoreboard {
    margin: 2em 0 4em;
  }

  .board {
    max-width: 350px;
    max-height: 350px;
    order: 1;
  }
}
